# help documentation - https://en.wikipedia.org/wiki/Cron

# set only in: `sudo crontab -e` (bacause indexer)

# m h  dom mon dow   command
#### deshevshe ####
# import data from file
*/2 * * * * php /var/www/vhosts/deshevshe/yii shop/handle-new  > /dev/null 2>&1
# refresh index
*/1 * * * * sudo indexer deshevshe --rotate > /dev/null 2>&1
