<?php
/**
 * local common configuration
 */
return [
    'components' => [
        'db' => [
            'dsn'      => 'mysql:host=localhost;dbname=deshevshe',
            'username' => 'USER',
            'password' => 'PASSWORD',
        ],
        'search' => [
            'finders' => [
                'products' => [
                    'host'      => 'localhost',
                    'port'      => 9312,
                    'indexName' => '<index name>',
                ],
            ],
        ],
    ],
];