# help documentation - http://sphinxsearch.com/docs/current.html

source deshevshe
{
  type          = mysql

  sql_host      = localhost
  sql_user      = root
  sql_pass      = ...PASSWORD...
  sql_db        = deshevshe
  sql_port      = 3306 # optional, default is 3306

  sql_query     = SELECT id, name, url, categoryId, price, picture, description FROM deshevshe_products

  sql_attr_uint       = id
  sql_attr_string     = url
  sql_attr_string     = name
  sql_attr_float      = price
  sql_attr_string     = picture
  sql_attr_string     = description

  sql_field_string    = categoryId

  sql_query_pre = SET NAMES cp1251
  sql_query_pre = SET CHARACTER SET cp1251
  sql_query_pre = SET CHARACTER_SET_RESULTS=utf8
}

index deshevshe
{
  source        = deshevshe
  path          = /var/lib/sphinx/data/deshevshe
  docinfo       = extern

  charset_table = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F
  min_word_len  = 3

  morphology	= stem_enru, soundex, metaphone

  stopwords = /etc/sphinx/stopwords-ru.txt /etc/sphinx/stopwords-en.txt
}

searchd
{
  listen            = 9312       #SphinxAPI port
  log               = /var/log/sphinx/searchd.log
  query_log         = /var/log/sphinx/query.log
  read_timeout      = 5
  max_children      = 30
  pid_file          = /var/run/sphinx/searchd.pid
  seamless_rotate   = 1
  #preopen_indexes   = 1
  unlink_old        = 1
  binlog_path       = /var/lib/sphinx/data
}